{% extends "core/base.html" %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100" style = "max-height: 900px">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0 d-flex justify-content-center">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  
                  <h4 class="mt-1 mb-5 pb-1">Đăng Ký Tài Khoản</h4>
                </div>

                <form method = 'POST' action = '.'>
                {% csrf_token %}
                <div>
                  <div class="form-outline mb-4">

                    <label class="form-label" for="form2Example11">Tên người dùng</label>
                    {{form.username}}
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Email</label>
                    {{ form.email }}
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Mật khẩu</label>
                    {{ form.password1 }}
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Nhập lại Mật khẩu</label>
                    {{ form.password2 }}
                  </div>
                  {% if form.errors or form.non_field_errors %}
                              <div class="mb-3 p-6 bg-red-100 rounded-xl">
                                  {% for field in form %}
                                      {{ field.errors }}
                                  {% endfor %}

                                  {{ form.non_field_errors }}
                              </div>
                  {% endif %}
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Đăng Ký</button>

              
                </form>

              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>
{% endblock content %}